#page-content {
    margin: 0 auto;
}
#image-gallery {
    margin: 0 auto;
    /* display:flex; */
}
    
.close-photo {
    padding-left: 10px;
    color: grey;
    top: -50px;
}
#image-area {
    width: 100%;
    margin-top: 100px;
}
#all-photos-tab {
    padding-top:36px;
    padding-bottom:36px;
}
.tab-button {
    padding-top:36px;
    padding-bottom:36px;
}
.image-dialog {
    width: 43%;
    height: 400px;
    margin-left: 20px;
    float: left;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    position:relative;
}
#considered-image {
    /* width:300px; */
    width:40%;
    float:left;
}
#photo-options {
    padding:20px;
}
#image-steps {
    /* float:right; */
    padding:10px;
    position: absolute;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.2);
    width:100%;
}
.step {
    padding:2px;
}

.tiled-image {
    float: left;
    padding:20px;
    width:calc(33% - 0px);

}
@media(max-width:750px) {
    .tiled-image {
        width:calc(50% - 4px);
    }
}