/* li { */
/*     width:200px; */
/* } */
/* a { */
/*     width: 100px; */
/* } */
body {
}
#page-content {
    margin: 0 auto;
}
#image-gallery {
    margin: 0 auto;
    width:100%;
}
    
.close-photo {
    padding-left: 10px;
    color: grey;
    top: -50px;
}
#image-area {
    width: 100%;
    margin-top: 100px;
}
.image-dialog {
    width: 43%;
    height: 400px;
    margin-left: 20px;
    float: left;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    position:relative;
}
#considered-image {
    /* width:300px; */
    width:40%;
    float:left;
}
#photo-options {
    padding:20px;
}
#image-steps {
    /* float:right; */
    padding:10px;
    position: absolute;
    bottom: 0;
    border: 1px solid rgba(0,0,0,.2);
    width:100%;
}
.step {
    padding:2px;
}

.image-link {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* or space-around */
    /* justify-content: space-around; /\* or space-around *\/ */
    width: calc(50% - 4px);
}
.tiled-image {
    width:100%;
    /* width:28%; */
    /* height: auto; */
    /* min-width: 300px; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* /\* justify-content: space-between; /\\* or space-around *\\/ *\/ */
    /* justify-content: space-around; /\* or space-around *\/ */

}