@import url('https://fonts.googleapis.com/css?family=Arvo');
body {
    margin:0;
    padding:0;
}
.filter-bar-and-section-wrapper {
    width:100%;
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    min-height:80px;
    display:flex;
    justify-content:end;
}
.filter-bar-container {
    background-color: black;
    min-height:80px;
    display:flex;
    justify-content:end;
}
.filter-bar-filter-area {
    display:flex;
    justify-content:center;
}
.filter-bar-filter-list {
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-width:350px;
    min-height: 100%;
}

.filter-bar-logo-area {
    min-height:80%;
    display:flex;
    position:absolute;
    align-items:center;
}

.filter-bar-logo {
    color: #cccccc;
    font-size:20px;
    padding-left:10px;
    font-family:'Arvo';
}
.filter-button-container {
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-width:100px;
}
.filter-bar-selection-area {
    background-color:black;
    width:100%;
    height:0;
    overflow:hidden;
    transition:height 1s;
}

.filter-bar-selection-area.open{
    height:400px;
}

.filter-bar-closed-section {
    display:flex;
    justify-content:space-between;
    opacity:1;
    transition: all .5s;
}

.filter-bar-open-section {
    display:flex;
    justify-content:space-between;
    display:none;
    opacity:0;
    transition: opacity .5s;
}


.transparent {
    opacity:0;
}
.opaque {
    opacity:1;
}

.invisible {
    display:none;
}
.filter-bar-closed-section.invisible {
    display:none;
}

.visible {
    display:block;
}
.visible-flex {
    display:flex;
}

.filter-bar-selection-title {
    color:white;
}

.filter-button-text {
    color:white;
    font-family:'Karla';
    font-weight:bold;
}
.filter-circle-button {
    cursor:pointer;
    width:30px;
    height:30px;
    border-radius:15px;
    box-shadow: 0 0 1px 1px #888;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#eeeeee;
    font-size:14px;
}

.filter-bar-notify {
    display:flex;
    padding-left:30px;
    background-color:#2d2d2d;
    width:120px;
    justify-content:space-around;
    align-items:center;
}

.filter-bar-notify-button {
    cursor:pointer;
    width:32px;
    height:32px;
    border-radius:16px;
    box-shadow: 0 0 1px 2px #888;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#eeeeee;
    font-size:14px;
}

.filter-bar-notify-text {
    color: #eee;
    font-family: 'Karla';
    font-weight:bold;
}

