@import url('https://fonts.googleapis.com/css?family=Arvo');

.filter-bar-container {
    position:absolute;
    top:0;
    left:0;
    background-color: black;
    height:80px;
    width:100%;
    display:flex;
    justify-content:space-between;
}
.filter-bar-filter-area {
    display:flex;
    justify-content:center;
}
.filter-bar-filter-list {
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-width:350px;
    height: 100%;
}
.filter-bar-logo-area {
    height:100%;
    display:flex;
    align-items:center;
    

}
.filter-bar-logo {
    color: #cccccc;
    font-size:20px;
    padding-left:10px;
    font-family:'Arvo';
}

.filter-button-text {
    color:white;
    font-family:'Karla';
}
.filter-circle-button {
    cursor:pointer;
    width:30px;
    height:30px;
    border-radius:15px;
    box-shadow: 0 0 1px 1px #888;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#757575;
    font-size:14px;
}

.filter-bar-notify {
    display:flex;
    padding-left:30px;
    background-color:#2d2d2d;
    width:120px;
    justify-content:space-around;
    align-items:center;
}

.filter-bar-notify-button {
    cursor:pointer;
    width:32px;
    height:32px;
    border-radius:16px;
    box-shadow: 0 0 1px 2px #888;
    display:flex;
    justify-content:center;
    align-items:center;
    color:#757575;
    font-size:14px;
}
.filter-bar-notify-text {
    color: #eee;
    font-family: 'Karla';
    font-weight:bold;
}
