.slide-up-enter {
  opacity: 0.01;
  transform:translate3d(0,-40px,0);
}

.slide-up-enter.slide-up-enter-active {
  opacity: 1;
  transform:translate3d(0,0,0);
  transition: opacity 500ms ease-in, transform 100ms ease-in;
}

.slide-up-leave {
  opacity: 1;
  transform:translate3d(0,0,0);
}

.slide-up-leave.slide-up-leave-active {
  opacity: 0.01;
  transform:translate3d(0,-40px,0);
  transition: opacity 100ms ease-in,  transform 100ms ease-in;
}

.slide-down-enter {
  opacity: 0.01;
  transform:translate3d(0,40px,0);
}

.slide-down-enter.slide-down-enter-active {
  opacity: 1;
  transform:translate3d(0,0,0);
  transition: opacity 500ms ease-in, transform 100ms ease-in;
}

.slide-down-leave {
  opacity: 1;
  transform:translate3d(0,0,0);
}

.slide-down-leave.slide-down-leave-active {
  opacity: 0.01;
  transform:translate3d(0, 40px,0);
  transition: opacity 100ms ease-in,  transform 100ms ease-in;
}
